[*.{cs,vb}]

# IDE0003: Member access should be qualified.
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = true:suggestion
